@import 'setup';
@import 'login-style';
@import 'add-edit-style';

/* FONTSTYLING */
h1 {
	margin: 0;
	color: white;
	@include thinlato($lato, $thin);
	text-align: center;
}

h2 {
	margin: 0;
	@include thinlato($lato, $regular);
}

h3 {
	margin: 0;
}

h4 {
	margin: 0;
}

p {
	margin: 0;
	margin-top: 10px;
	@include thinlato($lato, $regular);
}

/*REGULAR STYLING*/

body {
	margin: 0;
	padding: 0;
}

.login-field {
	height: 30px;
	background-color: $dark-color;
	width: 100%;
	position: relative;
	
	h4 {
		color: white;
		@include regularlato($lato, $regular);
		position: absolute;
		top: 50%;
		right: 40px;
		transform: translateY(-50%);

		&:hover {
			color: #C5CAE9;
			cursor: pointer;
		}
	}

	#hi {
		right: 150px;

		&:hover {
			color: white;
			cursor: default;
		}
	}
}

header {
	background-color: $primary-color;
	margin: 0;
	padding: 0;
	height: 200px;
	box-shadow: 0 6px 7px rgba(0,0,0,0.22), 0 2px 2px rgba(0,0,0,0.44);

	.page-header {
		padding-top: 30px;
		
		h1 {
			img {
				height: 27px;
			}
		}
	}
}

/* Button add and go back*/

.add-new-activity-btn, .back-btn {
	position: absolute;
	left: 20px;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	background-color: $accent-color;
	border: none;
	box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2), 0 8px 12px rgba(0, 0, 0, 0.3);
	font-size: 20px;
	@include regularlato($lato, $regular);
	color: white;

	&:hover {
		cursor: pointer;
		opacity: 0.9;
	}
}

.add-new-activity-btn {
	top: 50px;
}

.back-btn{
	top: 50px;	
}

.add-new-activity-btn:focus, .back-btn:focus {
	outline: none;
}

#search-form {
	position: absolute;
	top: 130px;
	left: 50%;
	transform: translateX(-50%);

	#select-search {
		width: 400px;
		height: 35px;
		border: none;
		background-color: $primary-color;
		border-bottom: 1px solid white;
		padding-left: 10px;
		color: white;
		@include thinlato($lato, $thin);
		font-weight: 100;
		font-size: 18px;

		&:focus{
			outline: none;
		}

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: rgba(255,255,255,0.6);
		  font-family: 'Lato', sans-serif;
			font-weight: 100;
			font-size: 22px;
		}

	}
}

#search-button-div {
	display: none;
}

.filter {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin-top: 15px;

	label {
		input {
			visibility: hidden; /* Makes input not-clickable */
  		position: absolute; /* Remove input from document flow */
		}

		img {
			cursor:pointer;
			width: 50px;
			height: 50px;
  		//border:2px solid transparent;
		}
	}
}

.activity-section {
	width: 95%;
	margin: 0 auto;
	margin-top: 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

	.container {
		// flex: 1;
		display: inline-block;
		margin: 10px;
		width: 300px;
		height: 400px;
		box-shadow: 0 0px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		position: relative;

		&:hover {
			cursor: pointer;
		}

		.img {
			width: 100%;
			height: 180px;
			background-color: #d7d7d7;

			.wrapper {
				overflow: hidden;
				width: 100%;
				height: 180px;
				position: relative;

				img {
					width: 100%;
					min-height: 180px;
					position: absolute;
				}

				.done {
					opacity: 0.5;
				}
			}
		}

		.text {
			margin: 15px;
			height: 135px;
			overflow: hidden;
		}

		.change-btn, .delete-btn {
			@include btn();

			&:hover {
				cursor: pointer;
				opacity: 0.9;
			}
		}
		
		.change-btn {
			background-color: $dark-color;
			top: 160px;
			right: 15px;
		}

		.delete-btn {
			right: 15px;
			bottom: 15px;
			background-color: #D32F2F;
		}
	}

	/* POPUPS */
	/* Outer */
	.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
    z-index: 10;
	
		/* Inner */
		.popup-inner {
	    width:450px;
	    position:absolute;
	    top:50%;
	    left:50%;
	    -webkit-transform:translate(-50%, -50%);
	    transform:translate(-50%, -50%);
	    box-shadow:0px 2px 6px rgba(0,0,0,1);
	    border-radius:3px;
	    background:#fff;
	    z-index: 11;

	    .popup-img {
	    	width: 100%;
	    	height: 300px;

	    	.popup-wrapper {
	    		overflow: hidden;
	    		width: 100%;
	    		height: 300px;

	    		img {
						width: 100%;
						min-height: 300px;
	    		}
	    	}
	    }

			.text {
				margin: 15px 15px 75px 15px
			}

			.change-btn, .delete-btn {
				@include btn();

				&:hover {
					cursor: pointer;
					opacity: 0.9;
				}
			}

			.change-btn {
				background-color: $dark-color;
				top: 280px;
				right: 15px;
			}

			.delete-btn {
				right: 15px;
				bottom: 15px;
				background-color: #D32F2F;
			}

			/* Close Button */
      .popup-close {
        font-family: Arial, Sans-Serif;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        line-height: 100%;
        width: 15px;
        height: 15px;
        display: inline-block;
        position: absolute;
        top: -13px;
        right: -7px;
        transition: ease 0.25s all;
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
        border-radius: 100%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
      }
  
      a {
        color: white;
        text-decoration: none;
  
        &:hover {
          color: grey;
        }
      }
		}
	}
}

footer {
	width: 100%;
	height: 40px;
	margin-top: 50px;
	background-color: $primary-color;
	
	p {
		color: white;
		text-align: center;
		padding-top: 8px;
	}
}